livebench/log

# Python
__pycache__/
*.pyc
*.egg-info
dist
.venv

# Log
*.log
*.log.*
#*.json
!playground/deepspeed_config_s2.json
!playground/deepspeed_config_s3.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output
*_strict.jsonl

# Data
*.pkl
*.csv

# Build
build